
:root {
  --burdeo: #750000;
  --blanco: #FFFEED;
  --verde-musgo: #386E13;
  --pastel-yellow: #F0FF30;
  --naranjo: #FC8800;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Segoe UI', sans-serif;
  color: #333;
  line-height: 1.6;
  background-image: url("https://i.imgur.com/ii7JLET.jpeg");
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.carrusel {
    position: relative;
    width: 100%;
    height: 335px;
    border-radius: 15px;
    overflow: hidden;
}

.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
	border-radius: 15px;
}

.carrusel img.imagen-activa {
    display: block;
}

.carrusel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
}

.carrusel .prev {
    left: 10px;
}

.carrusel .next {
    right: 10px;
}

#tejidos {
  max-width: 1200px;
  margin: auto;
}

.productos {
  padding: 60px 20px;
  background-color: #F0FF40;
  text-align: center;
}
.contenedor-productos {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.producto {
  border-radius: 15px;
  width: 100%;
  max-width: 280px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
  background: url("https://i.imgur.com/WDHyNtv.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15)
}

.producto:hover {
  transform: translateY(-8px);
}

.producto img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.producto h3 {
  color: #EBE100;
  margin: 10px 0 5px 0;
  font-family: "Sour Gummy", sans-serif;
  font-size: 25px;
}
.producto p {
font-size: 16px;
color: #F2F0ED;
font-family: "Sour Gummy", sans-serif;
}
.producto .precio {
  font-size: 25px;
  font-weight: bold;
  color: #F8FF7A;
  margin-bottom: 15px;
}

.producto button {
  background-color: #911800;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Sour Gummy", sans-serif;
  font-size: 18px;
}
a {
    text-decoration: none;
}

header {
  background: url("https://i.imgur.com/39n8Dww.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15)
  color: var(--blanco);
  text-align: center;
  padding: 2rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #911800;
  font-family: "Slackey", sans-serif;
}

header p {
  font-style: italic;
  margin-top: 0.5rem;
  color: #FEFFB8;
  font-family: "Henny Penny", system-ui;
  font-size: 18px;
}

nav {
  background-color: #E09D00;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav li {
  margin: 0.5rem 1rem;
}

nav a {
  color: #911800;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}

nav a:hover {
  opacity: 0.7;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 2rem 1rem;
}

section {
  margin-bottom: 3rem;
}
section h2 {
color: #911800;
font-family: "Barriecito", system-ui;
font-size: 30px;
}
section p {
color: #911800;
font-family: "Sour Gummy", sans-serif;
font-weight: 500;
font-size: 20px;
}
footer p {
color: #FEFFB8;
font-family: "Bitcount Grid Double", system-ui;
}
.instagram-btn {
    width: fit-content;
    display: inline-flex;
    background-color: #911800;
    color: #FEFFB8;
    padding: 10px 25px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
	font-size: 20px;
	font-family: "Sour Gummy", sans-serif;
	text-align: center;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.instagram-btn:hover {
    opacity: 0.8;
}
.whatsapp-btn {
    display: inline-flex;
    width: fit-content;
    background-color: #376B07;
    color: #FEFFB8;
    padding: 10px 25px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px;
    font-family: "Sour Gummy", sans-serif;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}
.whatsapp-btn:hover {
    background-color: #1B5E20;
    transform: scale(1.05);
}
@media (max-width: 768px) {
.producto {
   width: 45%;
}
}